.sectionContainer.hero {
  .col {
    align-items: center;
  }
  .logo {
    font-size: 5rem;
    color: var(--accent);
    text-shadow: 0 0 20px var(--contrast);
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    transition: font-size 1s;
  }

  .logo .dot {
    color: var(--secondary);
  }
}

.App.xs .sectionContainer.hero {
  .logo {
    font-size: 56px;
  }
}

.App.md .sectionContainer.hero {
  .logo {
    font-size: 86px;
  }
}

.App.lg .sectionContainer.hero {
  .logo {
    font-size: 102px;
  }
}
