.myNav {
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5em;
  padding-top: 1rem;
  z-index: 1000;
  background-color: var(--primary);
  color: var(--accent);
  .container-fluid .row {
    @include fullDimensions;
    margin: 0;
  }
  #dropped-nav {
    position: absolute;
    top: 5.1rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: max-content;
    z-index: 5;
    a {
      margin: 0 5px;
    }
    .nav-link {
      color: var(--accent) !important;
    }

    .nav-link.active {
      font-weight: normal;
      color: var(--secondary) !important;
    }

    .nav-link:hover {
      color: var(--secondary) !important;
    }
  }
  .bi {
    color: var(--accent);
    font-size: 20px !important;
    margin: 0 10px;
  }
  * {
    transition: all 0.3s;
  }
}

.theme-light #dropped-nav {
  background-color: darken($color: #f0fffd, $amount: 4) !important;
}

.theme-dark #dropped-nav {
  background-color: lighten($color: #1c2627, $amount: 3) !important;
}

.navToggle.navbar-toggler {
  .navbar-toggler-icon {
    color: var(--accent);
    width: 24px;
    height: 24px;
  }
}

.navUnderline {
  width: 75%;
  max-width: 1000px;
  height: 1px;
  position: absolute;
  top: 5rem;
  right: 0;
  background-color: var(--contrast);
}

.nav-link {
  font-weight: 400;
  color: var(--accent) !important;
}

.nav-link.active {
  font-weight: normal;
  color: var(--secondary) !important;
}

.nav-link:hover {
  color: var(--contrast) !important;
}

.navLogo {
  height: 3rem;
}

.themeBtn {
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
  color: var(--primary);
  background: var(--accent);
  &:focus,
  &.focus,
  &:focus.light,
  &.focus.light {
    outline: none;
  }
  &:before,
  &:after {
    font-family: "bootstrap-icons";
    line-height: 1.5rem;
    width: 3rem;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity 0.3s;
    color: var(--secondary);
  }
  &.light {
    transition: background-color 0.3s;
    .handle {
      left: 1.6875rem;
      transition: left 0.3s;
    }
  }
  .handle {
    position: absolute;
    top: 0.1875rem;
    left: 0.1875rem;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 1.125rem;
    background: var(--primary);
    transition: left 0.3s;
    i {
      color: var(--primary);
      font-size: 10px !important;
    }
  }
}

.themeBtn.m {
  &:before {
    left: -3rem;
  }
  &:after {
    right: -3rem;
  }
  &.light:before {
    content: "\F496"; // empty moon
    opacity: 0.5;
  }
  margin: 0 3rem;
  &.dark:before {
    content: "\F495"; // fill moon
    opacity: 1;
  }
  &.light:after {
    content: "\F1D1"; //fill sun
    opacity: 0.5;
  }
  &.dark:after {
    content: "\F1D2"; //empty sun
    opacity: 1;
  }
  .handle {
    background: var(--primary);
  }
}

.themeBtn.xs > .handle {
  background: none;
}
