.sectionContainer.skills {
  display: flex;
  align-items: center;

  .title {
    overflow-x: hidden;
    animation: scroll-right-to-left 4s linear infinite;
    display: flex;
    position: relative;
    will-change: transform;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    li {
      font-size: 54px;
      text-transform: capitalize;
      font-family: "Rubik";
      font-weight: $thin;
      margin-inline: 1em;
      white-space: nowrap;
    }
  }
}

@keyframes scroll-right-to-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
